%h1 Settings

%form#settings-form.pure-form.pure-form-aligned{action: '/setting', method: 'POST'}
  %fieldset
    .pure-control-group
      %label{for: 'minimum-update-period'} Mimimum Update Period
      %input#minimum-update-period{type: 'text', name: 'minimum_update_period', value: "#{@config[:minimum_update_period]}"}

    .pure-control-group
      %label{for: 'find-feed-language'} Find Feed Language
      %input#find-feed-language{type: 'text', name: 'find_feed_language', value: "#{@config[:find_feed_language]}"}

    .pure-control-group
      %label{for: 'article-sort-key'} Article Sort Key
      %select#article-sort-key{name: 'article_sort_key'}
        %option{value: '_id', selected: @config[:article_sort_key] == '_id'} Creation Date
        %option{value: 'date', selected: @config[:article_sort_key] == 'date'} Article Date

    .pure-control-group
      %label Article Order
      %label.pure-radio{for: 'articles-order-asc'}
        %input#articles-order-asc{type: 'radio', name: 'articles_order', value: 'asc', checked: @config[:articles_order] == 1} ASC
      %label.pure-radio{for: 'articles-order-desc'}
        %input#articles-order-desc{type: 'radio', name: 'articles_order', value: 'desc', checked: @config[:articles_order] == -1} DESC

    .pure-control-group
      %label{for: 'amount-of-articles-at-once'} Amount of Articles to View at Once
      %input#amount-of-articles-at-once{type: 'text', name: 'amount_of_articles_at_once', value: "#{@config[:amount_of_articles_at_once]}"}

    .pure-control-group
      %label{for: 'amount-of-channels-to-update-at-once'} Amount of Channels to Update at Once
      %input#amount-of-channels-to-update-at-once{type: 'text', name: 'amount_of_channels_to_update_at_once', value: "#{@config[:amount_of_channels_to_update_at_once]}"}

    .pure-control-group
      %label{for: 'background-color-of-sidebar'} Background Color of Sidebar
      %input#background-color-of-sidebar{type: 'text', name: 'background_color_of_sidebar', value: "#{@config[:background_color_of_sidebar]}"}

    .pure-controls
      %input.pure-button.pure-button-primary{type: 'submit', value: 'Submit'}
